@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap");

:root {
  --archprimary: #12bca2;
  --archsecondary: #6d15df;

  --Main: #687e26;
  --Secondary: #020202;
  --LightMain: #b4bf93;
  --DarkMain: #697044;
  --Grey: #f0f0f0;
  --White: #ffffff;
  --Accent: #c94940;
  --DarkGrey: #6a6262;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 16px;
}

h1,
h2,
h3 {
  margin: 0;
}

a:link {
  text-decoration: none;
}

pre {
  overflow-x: auto;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

/* DEBUG BUTTONS HIDDEN*/
.hidden {
  display: none;
}

body {
  margin: 0;
  color: #333;
  font-family: "Poppins";
  background: var(--Grey);
}
nav {
  background: var(--Main);
  padding: 10px 20px;
  text-align: center;
}
nav a {
  color: #f2f2f2;
  margin: 10px;
  display: inline-block;
  text-align: center;
}
nav h1 {
  color: #fff;
}
.page {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

.home__title {
  text-align: center;
  text-decoration: dashed;
  padding: 1rem;
  font-size: 3rem;
}

/* offers list */
.offers_list {
  width: inherit;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.offers_card {
  width: 100%;
  height: 180px;
  background: var(--White);
  box-sizing: border-box;
  border-radius: 6px;
  position: relative;
  padding: 0.5rem;
  display: flex;
  -webkit-box-shadow: 4px 8px 18px -11px rgba(66, 68, 90, 0.3);
  -moz-box-shadow: 4px 8px 18px -11px rgba(66, 68, 90, 0.3);
  box-shadow: 4px 8px 18px -11px rgba(66, 68, 90, 0.3);
}
.rating {
  background: var(--DarkMain);
  color: #fff;
  border-radius: 6px;
  height: 0;
  padding: 1.25rem 1rem;
  line-height: 0px;
  text-align: center;
}
.offers_card .buttons {
  text-align: right;
}

.offers_logo-div {
  height: 100%;
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.offers_logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* ======Główna część karty= ==========*/
.offers_main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.offers_main h2 {
  padding: 0 0 0.3rem 0;
}
.offers_main p {
  margin: 0;
}

.offers_main-data {
  color: var(--DarkGrey);
  opacity: 0.85;
}
.offers_main-company {
  margin-right: 1rem;
  width: auto;
  display: flex;
  align-items: center;
}
.helper-icon {
  cursor: default;
  font-size: 18px;
  padding-right: 0.33rem;
}
.main-icon {
  color: #bbb;
  margin-left: 10px;
  font-size: 1.2em;
  padding: 6px;
  background: #eeeeee;
  border-radius: 50%;
  cursor: pointer;
}
.offer-icon {
  cursor: default;
  font-size: 26px;
  padding-right: 0.33rem;
}
.offers_main-secondline {
  display: flex;
}
.offers_main-location {
  color: var(--DarkGrey);
  width: auto;
  display: flex;
  align-items: center;
}
/* ======Boczna część karty= ==========*/
.offers_side {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  justify-content: space-between;
}

.offers_side-open-helper {
  display: flex;
  justify-content: end;
  align-items: end;
}
.offers_side-open {
  width: 64px;
  height: 64px;
  background-color: #eeeeee;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #bbb;
  margin-left: 10px;
  font-size: 1.2em;
  padding: 6px;
  background: #eeeeee;
  border-radius: 50%;
  cursor: pointer;
}

a:visited {
  text-decoration: none;
}

.offers_side-buttons {
  display: flex;
  justify-content: end;
  align-items: end;
}
.offers_side-buttons i {
  margin-left: 0.5rem;
}

/* forms  BYŁ TO ZBYT OGÓLNY CSS DEPRECATED
form {
  background: #fff;
  padding: 20px;
  max-width: 480px;
  margin: 0 auto;
  border-radius: 6px;
}
form input,
form textarea {
  display: block;
  width: 100%;
  padding: 6px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  margin: 10px 0 20px 0;
}
form button {
  background: var(--LightMain);
  color: #fff;
  border: 0;
  border-radius: 6px;
  padding: 6px 8px;
  font-family: "Poppins";
  cursor: pointer;
}

*/

/*----WYŚWIETLANIE OFERTY W NOWYM OKNIE ---*/
.offer-view {
  max-width: 1200px;
  margin: 0 auto;
}
.offer-view_wrapper {
  background-color: var(--White);
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
}
.offer-view_header {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.offer-view_header h2 {
  margin: 0 auto;
}
/*===Górna Sekcja ===*/
.offer-view_topsection {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.offer-view_time {
  text-align: end;
  color: var(--DarkGrey);
  opacity: 0.85;
}
.offer-view_salary {
  font-size: 1.1rem;
  background: var(--DarkGrey);
  color: #fff;
  border-radius: 6px;
  height: 0;
  padding: 2rem;
  line-height: 0px;
  text-align: center;
}

.offer-view_apply {
  width: 12rem;
  font-size: 1.25rem;
  margin: 0 auto;
  background: var(--Main);
  color: #fff;
  padding: 4px 8px;
  border-radius: 6px;
  font-family: "Poppins";
  cursor: pointer;
  border: 1px solid var(--Main);
}

.offer-view_apply:active {
  background: var(--LightMain);
}

.offer-view_apply:hover {
  background-color: var(--DarkMain);
  border: 1px solid var(--LightMain);
}
/*===Body===*/

.salary-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.salary-div input {
  width: 40%;
}

/* EXTRAS */

/*REMOVING BUTTON FROM INPUT FIELD */
/* Works for Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Works for Firefox */
input[type="number"] {
  appearance: textfield;
  -moz-appearance: textfield;
}

/* SeachBar*/

.searchbar {
  display: flex;
  justify-content: space-between;
  background-color: var(--White);
  border-radius: 6px;
  padding-top: 1rem;
}

.searchbar_search {
  width: 50%;
  display: flex;
}

.searchbar_search input {
  padding: 0.5rem;
  margin: 0.5rem;
  width: 80%;
}

.searchbar_sort {
  width: 50%;
  display: flex;
}

/* order-by buttons */
.searchbar_sort button {
  margin-right: 10px;
  background: var(--Main);
  color: #fff;
  margin: 0.5rem;
  padding: 4px 8px;
  border-radius: 6px;
  font-family: "Poppins";
  cursor: pointer;
  border: 0px;
}

.searchbar_sort button:active {
  background: var(--DarkGrey);
}

.searchbar_dsc {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.75rem;
  color: var(--Secondary);
  opacity: 0.8;
}

.searchbar_liked {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}

.searchbar_liked button {
  margin-right: 10px;
  background: var(--LightMain);
  color: #fff;
  margin: 0.5rem;
  padding: 4px 8px;
  border-radius: 6px;
  font-family: "Poppins";
  cursor: pointer;
  border: 0px;
}
.searchbar_liked button:active {
  background: var(--DarkGrey);
}

/*====Login Page===*/
.login_form {
  background: #fff;
  padding: 20px;
  max-width: 480px;
  margin: 0 auto;
  border-radius: 6px;
}
.login_form input,
.login_form textarea {
  display: block;
  width: 100%;
  padding: 6px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  margin: 10px 0 20px 0;
}
.login_form button {
  background: var(--LightMain);
  color: #fff;
  border: 0;
  border-radius: 6px;
  padding: 6px 8px;
  font-family: "Poppins";
  cursor: pointer;
}

.login__title {
  text-align: center;
  padding: 1rem 1rem 2rem 1rem;
  font-size: 2rem;
}

.login_footer {
  padding: 20px;
  max-width: 480px;
  margin: 0 auto;
  border-radius: 6px;
  margin: 0 auto;
  text-align: center;
}

.profile_card {
  background: #fff;
  padding: 20px;
  max-width: 480px;
  margin: 0 auto;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-box-shadow: 4px 8px 18px -11px rgba(66, 68, 90, 0.3);
  -moz-box-shadow: 4px 8px 18px -11px rgba(66, 68, 90, 0.3);
  box-shadow: 4px 8px 18px -11px rgba(66, 68, 90, 0.3);
}

.profile_img {
  width: 64px;
  padding-bottom: 1rem;
}

.profile_footer {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile_footer button {
  margin-right: 10px;
  background: var(--LightMain);
  color: #fff;
  margin: 0.5rem;
  padding: 4px 8px;
  border-radius: 6px;
  font-family: "Poppins";
  cursor: pointer;
  border: 0px;
}

.break {
  height: 1px;
  background-color: var(--DarkGrey);
  margin-bottom: 2rem;
  opacity: 0.5;
}

/*=======NOWA/UPDATE OFERTY ======*/

.update {
  max-width: 800px;
  margin: 0 auto;
}
.update__title {
  text-align: center;
  padding: 1rem;
  font-size: 2rem;
}

.update_select {
  padding: 0.5rem 0;
}

/*---FORMULARZ---*/
.update_form {
  background: #fff;
  padding: 20px;
  margin: 0 auto;
  border-radius: 6px;
  -webkit-box-shadow: 4px 8px 18px -11px rgba(66, 68, 90, 0.3);
  -moz-box-shadow: 4px 8px 18px -11px rgba(66, 68, 90, 0.3);
  box-shadow: 4px 8px 18px -11px rgba(66, 68, 90, 0.3);
}
.update_form input,
.update_form textarea {
  display: block;
  width: 100%;
  padding: 6px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  margin: 10px 0 20px 0;
}
.update_form button {
  background: var(--LightMain);
  color: #fff;
  border: 0;
  border-radius: 6px;
  padding: 6px 8px;
  font-family: "Poppins";
  cursor: pointer;
}

.update_textarea {
  resize: none;
}
/*--radio buttons w formulrzu--*/
.update_radios {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
}
.update_radios > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.update_radios input[type="radio"] {
  box-sizing: border-box;
  appearance: none;
  background: white;
  outline: 2px solid #333;
  border: 3px solid white;
  width: 16px;
  height: 16px;
  margin: 0 0 0 1rem;
}
.update_radios input[type="radio"]:checked {
  transition-duration: 0.8s;
  transition-property: background-color;
  background-color: var(--Accent);
}

/*----salary w formularzu ---*/

.update_salary {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1.5rem;
}

.update_salary > div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.update_salary > div > input {
  width: auto;
  margin: 0 1rem;
}

.update_btn {
  width: 12rem;
  font-size: 1.25rem;
  margin: auto auto;
  background: var(--Main);
  color: #fff;
  padding: 4px 8px;
  border-radius: 6px;
  font-family: "Poppins";
  cursor: pointer;
  border: 1px solid var(--Main);
}

.update_btn:active {
  background: var(--LightMain);
}

.update_btn:hover {
  background-color: var(--DarkMain);
  border: 1px solid var(--LightMain);
}

.error_border {
  border: 2px solid red !important;
}
.error_dsc {
  color: var(--Accent);
}

/*=======================MOBILE==============================*/
@media only screen and (max-width: 768px) {
  /*===========Home=============*/
  .home__title {
    font-size: 2.5rem;
  }
  .searchbar {
    flex-direction: column;
    align-items: center;
  }
  .searchbar_search {
    justify-content: center;
    width: 90%;
  }
  .searchbar_sort {
    width: 90%;
    justify-content: center;
  }
  .searchbar_dsc {
    display: none;
  }

  /*===========card=============*/
  .offers_card {
    height: 200px;
  }

  .offers_main > div > h2 {
    font-size: 1rem;
    padding-bottom: 0.5rem;
  }
  .offers_main-data {
    font-size: 0.75rem;
  }
  .offers_main-location {
    font-size: 0.75rem;
  }

  .offers_main-company {
    font-size: 0.8rem;
  }
  .offers_logo-div {
    width: 100px;
  }

  /*====offerview====*/
  .position-level {
    font-size: 0.85rem;
  }
  .rating {
    display: flex;
    padding: 0.85rem;
    font-size: 0.85rem;
  }

  .offer-view_salary {
    padding: 1rem 0.75rem;
    font-size: 0.75rem;
  }
  .offer-view_level {
    font-size: 0.85rem;
  }
  .update_form {
    padding: 1rem;
  }
  .update__title {
    font-size: 1.5rem;
    padding-top: 0;
  }

  .update_radios {
    padding: 0.5rem;
  }
  .update_radios > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .update_radios input[type="radio"] {
    box-sizing: border-box;
    appearance: none;
    background: white;
    outline: 2px solid #333;
    border: 3px solid white;
    width: 15px;
    height: 15px;
    margin: 0.5rem 0 0 0;
    padding: 0 0 0 0;
  }
  .update_salary_dsc {
    padding-top: 1rem;
  }
  .update_salary {
    padding: 1.5rem 0.5rem;
    flex-direction: column;
  }
  .update_salary > div {
    display: flex;
    justify-content: flex-start;
    padding: 0.75rem 0.25rem;
    box-sizing: content-box;
  }
  .update_salary > div > label {
    display: block;
    width: 30px;
  }
}

@media only screen and (max-width: 480px) {
  /*===========Home=============*/
  .home__title {
    font-size: 2.5rem;
  }
  .searchbar {
    flex-direction: column;
    align-items: center;
  }
  .searchbar_search {
    justify-content: center;
    width: 90%;
  }
  .searchbar_sort {
    width: 90%;
    justify-content: center;
  }
  .searchbar_dsc {
    display: none;
  }

  /*===========card=============*/
  .offers_card {
    height: 200px;
  }

  .offers_main > div > h2 {
    font-size: 1rem;
    padding-bottom: 0.5rem;
  }
  .offers_main-data {
    font-size: 0.75rem;
  }
  .offers_main-location {
    font-size: 0.75rem;
  }

  .offers_main-company {
    font-size: 0.8rem;
  }
  .offers_logo-div {
    width: 100px;
  }

  /*====offerview====*/
  .position-level {
    font-size: 0.75rem;
  }
  .rating {
    display: flex;
    padding: 0.75rem;
    font-size: 0.75rem;
  }

  .offer-view_salary {
    padding: 1rem 0.75rem;
    font-size: 0.65rem;
  }
  .offer-view_level {
    font-size: 0.75rem;
  }
  .update_form {
    padding: 1rem;
  }
  .update__title {
    font-size: 1.5rem;
    padding-top: 0;
  }

  .update_radios {
    padding: 0.5rem;
  }
  .update_radios > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .update_radios input[type="radio"] {
    box-sizing: border-box;
    appearance: none;
    background: white;
    outline: 2px solid #333;
    border: 3px solid white;
    width: 15px;
    height: 15px;
    margin: 0.5rem 0 0 0;
    padding: 0 0 0 0;
  }
  .update_salary_dsc {
    padding-top: 1rem;
  }
  .update_salary {
    padding: 1.5rem 0.5rem;
    flex-direction: column;
  }
  .update_salary > div {
    display: flex;
    justify-content: flex-start;
    padding: 0.75rem 0.25rem;
    box-sizing: content-box;
  }
  .update_salary > div > label {
    display: block;
  }
}

@media only screen and (max-width: 364px) {
  html {
    font-size: 0.9rem;
  }
  /*===========Home=============*/
  .home__title {
    font-size: 2rem;
  }

  /*===========card=============*/

  .offers_logo-div {
    display: none;
  }

  /*====offerview====*/
  .offer-view_salary {
    padding: 0.8rem 0.75rem;
    font-size: 0.65rem;
  }
  .offers_card {
    height: 180px;
    padding: 1rem;
  }
  .rating {
    display: flex;
    padding: 0.75rem 0.65rem;
    font-size: 0.75rem;
  }
  /*====update/create====*/
  .update_form {
    padding: 1rem;
  }
  .update__title {
    font-size: 1.5rem;
    padding-top: 0;
  }

  .update_radios {
    padding: 0.5rem;
  }
  .update_radios > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .update_radios input[type="radio"] {
    box-sizing: border-box;
    appearance: none;
    background: white;
    outline: 2px solid #333;
    border: 3px solid white;
    width: 15px;
    height: 15px;
    margin: 0.5rem 0 0 0;
    padding: 0 0 0 0;
  }
  .update_salary_dsc {
    padding-top: 1rem;
  }
  .update_salary {
    padding: 1.5rem 0.5rem;
    flex-direction: column;
  }
  .update_salary > div {
    display: flex;
    justify-content: flex-start;
    padding: 0.75rem 0.25rem;
    box-sizing: content-box;
  }
  .update_salary > div > label {
    display: block;
  }
}
